profiles/EBMeDS/Patient.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Patient">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Properties"/>
        <xs:element ref="Risks"/>
        <xs:element ref="Problems"/>
        <xs:element ref="Investigations"/>
        <xs:element ref="Interventions"/>
        <xs:element ref="HealthCareEncounters"/>
        <xs:element ref="Documents"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Properties">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PatientID" type="xs:string"/>
        <xs:element ref="BirthTimeStamp"/>
        <xs:element name="Gender" type="xs:string"/>
        <xs:element ref="Ethnicity"/>
        <xs:element ref="Professions"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BirthTimeStamp">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Year" type="xs:string"/>
        <xs:element name="Month" type="xs:string"/>
        <xs:element name="Day" type="xs:string"/>
        <xs:element name="Hour" type="xs:string"/>
        <xs:element name="Minute" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ethnicity">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CodeGroup"/>
        <xs:element name="EthnicityName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CodeGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CodeValue" type="xs:string"/>
        <xs:element name="CodeSystem" type="xs:string"/>
        <xs:element name="CodeSystemVersion" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Professions">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CodeGroup"/>
        <xs:element ref="TimeStampGroup"/>
        <xs:element name="ProfessionName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeStampGroup">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element name="StartStamp" type="xs:string"/>
        <xs:element name="EndStamp" type="xs:string"/>
        <xs:element name="PointStamp" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Risks">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DrugsToAvoid"/>
        <xs:element ref="Smoking"/>
        <xs:element ref="AlcoholConsumption"/>
        <xs:element ref="Pregnancy"/>
        <xs:element ref="Lactation"/>
        <xs:element ref="FamilialDiseases"/>
        <xs:element ref="NonDrugHyperSensitivities"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DrugsToAvoid">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CodeGroup"/>
        <xs:element ref="ReasonsForAvoiding"/>
        <xs:element name="DrugName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReasonsForAvoiding">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CodeGroup"/>
        <xs:element ref="TimeStampGroup"/>
        <xs:element name="StartStamp" type="xs:string"/>
        <xs:element name="EndStamp" type="xs:string"/>
        <xs:element name="PointStamp" type="xs:string"/>
        <xs:element ref="RiskLevel"/>
        <xs:element ref="ReasonsForAvoiding" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiskLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CodeGroup"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Smoking">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="SmokingStatus"/>
        <xs:element name="DailyCigaretteConsumption" type="xs:string"/>
        <xs:element name="SmokingPackYears" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SmokingStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CodeGroup"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlcoholConsumption">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="WeeklyDringEquivalents" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pregnancy">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Pregnant" type="xs:string"/>
        <xs:element name="ExpectedDeliveryDate" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lactation">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Lactating" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FamilialDiseases">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FamilialDisease"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FamilialDisease">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CodeGroup"/>
        <xs:element name="DegreeOfKinship" type="xs:string"/>
        <xs:element name="FamilialDiseaseName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NonDrugHyperSensitivities">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="NonDrugHypersensitivity"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NonDrugHypersensitivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CodeGroup"/>
        <xs:element ref="HyperSensitivityReaction"/>
        <xs:element name="AllergenName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HyperSensitivityReaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CodeGroup"/>
        <xs:element ref="TimeStampGroup"/>
        <xs:element ref="RiskLevel"/>
        <xs:element name="HyperSensitivityReactionName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Problems">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Diagnoses"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Diagnoses">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Diagnosis"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Diagnosis">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CodeGroup"/>
        <xs:element ref="TimeStampGroup"/>
        <xs:element name="DiagnosisStatus" type="xs:string"/>
        <xs:element name="DiagnosisName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Investigations">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Measurements"/>
        <xs:element ref="ImagingInvestigations"/>
        <xs:element ref="Questionnaires"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Measurements">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Measurement"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Measurement">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CodeGroup"/>
        <xs:element ref="TimeStampsGroup"/>
        <xs:element name="Ordered" type="xs:string"/>
        <xs:element ref="Result"/>
        <xs:element name="MeasurementName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeStampsGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="StartStamp" type="xs:string"/>
        <xs:element name="EndStamp" type="xs:string"/>
        <xs:element name="PointStamp" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Result">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Value" type="xs:string"/>
        <xs:element name="Unit" type="xs:string"/>
        <xs:element name="UpperNormalLimit" type="xs:string"/>
        <xs:element name="LowerNormalLimit" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImagingInvestigations">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ImagingInvestigation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImagingInvestigation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CodeGroup"/>
        <xs:element ref="TimeStampsGroup"/>
        <xs:element name="Ordered" type="xs:string"/>
        <xs:element name="ImagingInvestigationName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Questionnaires">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Questionnaire"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Questionnaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CodeGroup"/>
        <xs:element ref="TimeStampsGroup"/>
        <xs:element ref="Questions"/>
        <xs:element name="TotalPoints" type="xs:string"/>
        <xs:element name="QuestionnaireName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Questions">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Question"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Question">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="QuestionID" type="xs:string"/>
        <xs:element name="AnswerString" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Interventions">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Medication"/>
        <xs:element ref="Vaccinations"/>
        <xs:element ref="Procedures"/>
        <xs:element ref="Therapies"/>
        <xs:element ref="SelfCareInterventions"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Medication">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Drug"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Drug">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CodeGroup"/>
        <xs:element ref="TimeStampsGroup"/>
        <xs:element name="Strength" type="xs:string"/>
        <xs:element name="StrengthUnit" type="xs:string"/>
        <xs:element ref="AdministrationRoute"/>
        <xs:element name="DailyDose" type="xs:string"/>
        <xs:element name="Dosage" type="xs:string"/>
        <xs:element name="DrugStatus" type="xs:string"/>
        <xs:element ref="LastPrescription"/>
        <xs:element name="DrugName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdministrationRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CodeGroup"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LastPrescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TimeStampsGroup"/>
        <xs:element name="PackageAmount" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Vaccinations">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Vaccine"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Vaccine">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CodeGroup"/>
        <xs:element ref="TimeStampsGroup"/>
        <xs:element name="Strength" type="xs:string"/>
        <xs:element name="StrengthUnit" type="xs:string"/>
        <xs:element name="Dose" type="xs:string"/>
        <xs:element name="VaccinationStatus" type="xs:string"/>
        <xs:element name="VaccineName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Procedures">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CodeGroup"/>
        <xs:element ref="TimeStampsGroup"/>
        <xs:element name="Ordered" type="xs:string"/>
        <xs:element name="AnatomicalTarget" type="xs:string"/>
        <xs:element ref="MaterialsAndImplants"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaterialsAndImplants">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Material"/>
        <xs:element ref="Implant"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Material">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CodeGroup"/>
        <xs:element name="MaterialName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Implant">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CodeGroup"/>
        <xs:element name="ImplantName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Therapies">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Therapy"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Therapy">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CodeGroup"/>
        <xs:element ref="TimeStampsGroup"/>
        <xs:element name="Ordered" type="xs:string"/>
        <xs:element name="TherapyName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelfCareInterventions">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="SelfCareIntervention"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelfCareIntervention">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CodeGroup"/>
        <xs:element ref="TimeStampsGroup"/>
        <xs:element name="SelfCareName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HealthCareEncounters">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CodeGroup"/>
        <xs:element ref="TimeStampsGroup"/>
        <xs:element ref="HealthCareUnitType"/>
        <xs:element ref="HealthCareProfessionalType"/>
        <xs:element name="Ordered" type="xs:string"/>
        <xs:element ref="ReasonForEncounter"/>
        <xs:element name="EncounterName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HealthCareUnitType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CodeGroup"/>
        <xs:element name="HealthCareUnitTypeName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HealthCareProfessionalType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CodeGroup"/>
        <xs:element name="HealthCareProfessionalTypeName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReasonForEncounter">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element ref="CodeGroup" minOccurs="0"/>
        <xs:element ref="ReasonForEncounter" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Documents">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Document"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Document">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DocumentType" type="xs:string"/>
        <xs:element ref="CodeGroup"/>
        <xs:element ref="TimeStampsGroup"/>
        <xs:element ref="DocumentReason"/>
        <xs:element name="DocumentAction" type="xs:string"/>
        <xs:element name="DocumentStatus" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentReason">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CodeGroup"/>
        <xs:element name="ReasonForDocumentName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
